<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="../static/home.css">
    <link href="../static/logo.jpeg" rel="icon">
</head>
<body>
    <img src="../static/intropic.webp">
    <div class="main">
        <div class="heading">
            <h2>Fill Up the Details Below</h2>
        </div>
        <form class="data" action="/" method="post">
            <input id="name" type="text" name='name' placeholder="Name" required>
            <input id="internID" type="number" name='id' placeholder="Intern-ID" required>
            <input id="role" type="text" name='role' placeholder="Your Role" required>
            <input id="instagram" type="text" name='instagram' placeholder="Your Instagram Link" required>
            <input id="facebook" type="text" name='facebook' placeholder="Your Facebook Link" required>
            <input id="linkedin" type="text" name='linkedin' placeholder="Your Linkedin Link" required>
            <input id="twitter" type="text" name='twitter' placeholder="Your Twitter Link" required>
        <div id="button">
            <button type="submit" id="btn">Submit</button>
        </div>
        </form>
    </div>

</body>
</html>